<?php
/** @var \Sinclaire\Todolist\Block\Index $this */
?>
<h1>To Do List</h1>
<ul>
    <?php
    /** @var \Sinclaire\Todolist\Api\Data\TodoItemInterface $item */
    foreach ($this->getTodoList() as $item): ?>
        <li>
            <?php
            if ($item->hasCustomer()) {
                printf(
                    '%s (%s %s)',
                    $item->getTitle(),
                    $item->getCustomer()->getFirstname(),
                    $item->getCustomer()->getLastname()
                );
            } else {
                echo $item->getTitle();
            }
            ?>
        </li>
    <?php endforeach; ?>
</ul>
<form action="<?= $this->getUrl('todolist/add') ?>" method="get">
    <input type="text" name="title">
    <input type="submit">
</form>